@import "/src/assets/sass/main.scss";
.header {
  position: fixed;
  z-index: 1;
  width: $width-full;
  .header_container {
    @include flex-space-between();
    background: $color_background_header;
    padding: 8px 40px 8px 30px;
    .header_wrapper {
      @include flex-item-center();
      .header_logo {
        height: 33px;
        width: 77px;
        margin-right: 8px;
        &__block {
          @include block();
        }
      }
      .navigation {
        display: flex;
        color: $color_nav;
        &__nav_list {
          font-size: 11px;
          margin: 0 5px;
        }
        &__nav_list:hover {
          color: $white;
        }
        @media only screen and (max-width: $mobile) {
          display: none;
        }
      }
      .browse {
        @media only screen and (min-width: $mobile) {
          display: none;
        }
        @media only screen and (max-width: $mobile) {
          color: $color_nav;
          @include flex-item-center();
          &__label {
            font-size: 10px;
            margin-right: 5px;
          }
          &__label:hover {
            color: $white;
          }
          &__dropdown {
          }
        }
      }
    }
    .profile_search_bar {
      display: flex;
      .search_bar {
        margin: auto 8px auto 0;
        @include flex-item-center();
        padding: 3.5px 3px;
        border: 1px solid $color_search_border;
        &__logo {
          width: 15px;
          margin-right: 6px;
          height: 16px;
        }
        .search_field {
          outline: none;
          border: none;
          background: $color_search_background;
          color: $white;
          font-size: 11.5px;
        }
        .search_field:hover {
          cursor: pointer;
        }
      }
      .search_bar:hover {
        border-color: $search_border_hover;
        cursor: pointer;
      }
      .profile {
        @include flex-item-center();
        &__image {
          width: 30px;
          height: 27px;
          margin-right: 4px;
          &__block {
            @include block();
          }
        }
        &__image:hover + div {
          color: $white;
          cursor: pointer;
        }
        &__username {
          color: $color_header_username;
          font-size: 10px;
        }
        &__username:hover {
          color: $header_username_hover;
          cursor: pointer;
        }
      }
    }
  }
}
