<header class="header">
  <div class="header_container">
    <div class="header_wrapper">
      <div class="header_logo">
        <img class="header_logo__block" src="../../assets/png/primelogo.png" />
      </div>
      <nav class="navigation">
        <div class="navigation__nav_list">Home</div>
        <div class="navigation__nav_list">Tv Shows</div>
        <div class="navigation__nav_list">Movies</div>
        <div class="navigation__nav_list">Kids</div>
      </nav>
      <div class="browse">
        <div class="browse__label">Browse</div>
        <div class="browse__dropdown"></div>
      </div>
    </div>
    <div class="profile_search_bar">
      <div class="search_bar">
        <img class="search_bar__logo" src="../../assets/png/search.png" />
        <input class="search_field" type="search" placeholder="Search " />
      </div>
      <div class="profile">
        <div class="profile__image">
          <img class="profile__image__block" src="../../assets/png/user.png" />
        </div>
        <div class="profile__username">Aniket</div>
      </div>
    </div>
  </div>
</header>
