<div class="tv_movies">
  <p class="tv_movies__label">Watch next TV and movies</p>
</div>
<div class="slider_container">
  <div class="slides_content">
    <img
      class="slides_content__block"
      src="../../assets/jpeg/top-reel_image1.jpg"
    />
  </div>
  <div class="slides_content">
    <img
      class="slides_content__block"
      src="../../assets/jpeg/top-reel_image1.jpg"
    />
  </div>
  <div class="slides_content">
    <img
      class="slides_content__block"
      src="../../assets/jpeg/top-reel_image1.jpg"
    />
  </div>
  <div class="slides_content">
    <img
      class="slides_content__block"
      src="../../assets/jpeg/top-reel_image1.jpg"
    />
  </div>
  <div class="slides_content">
    <img
      class="slides_content__block"
      src="../../assets/jpeg/top-reel_image1.jpg"
    />
  </div>
  <div class="slides_content">
    <img
      class="slides_content__block"
      src="../../assets/jpeg/top-reel_image1.jpg"
    />
  </div>
  <div class="slides_content">
    <img
      class="slides_content__block"
      src="../../assets/jpeg/top-reel_image1.jpg"
    />
  </div>
</div>

<!-- <div class="slidercontainer">
  <ngx-slick-carousel
    class="carousel"
    #slickModal="slick-carousel"
    [config]="slideConfig"
  >
    <div ngxSlickItem *ngFor="let slide of slides">
      <div class="slides_content">
        <img
          class="slides_content__block"
          src="{{ slide.img }}"
          alt=""
          width="100%"
        />
      </div>
    </div>
   </ngx-slick-carousel>
</div> -->
